#ignore the files becasue they are too large

/Ossipee_Pine_Barrens_Jun2015_swath_refl_VIs/ 


.ipynb_checkpoints/TreeIdentificationHowland-checkpoint.ipynb

.ipynb_checkpoints/DataMining-checkpoint.ipynb

Howland_Forest_Jun2012_at-sensor_refl_L1G

Howland_Forest_Jun2012_at-sensor_refl_L1G.hdr
